<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CALCULO</a>
  </div>
</nav>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="card text-white bg-dark mb-3">
        <div class="card-header">Header</div>
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <form>
                <div class="form-group">
                  <label class="col-form-label col-form-label-lg " for="inputLarge">X1</label>
                  <input class="form-control form-control-lg" [formControl]="x1" type="number"
                    placeholder="Ingresa el valor de X1" id="inputLarge">
                </div>
                <div class="form-group">
                  <label class="col-form-label col-form-label-lg" for="inputLarge">X2</label>
                  <input class="form-control form-control-lg" [formControl]="x2"  type="number"
                    placeholder="Ingresa el valor de X2" id="inputLarge">
                </div>
                <div class="form-group">
                  <label class="col-form-label col-form-label-lg" for="inputLarge">Y1</label>
                  <input class="form-control form-control-lg" [formControl]="y1"  type="number"
                    placeholder="Ingresa el valor de Y1" id="inputLarge">
                </div>
                <div class="form-group">
                  <label class="col-form-label col-form-label-lg" for="inputLarge">Y2</label>
                  <input class="form-control form-control-lg" [formControl]="y2"  type="number"
                    placeholder="Ingresa el valor de Y2" id="inputLarge">
                </div>
              </form>
              <div class="d-flex justify-content-between mt-4">
                <button type="button" class="btn btn-primary" (click)="distance()">Calcular distancia</button>
                <button type="button" class="btn btn-primary" (click)="pendiente()">Calcular Pendiente</button>
              </div>
            </div>
            <div class="col-8">
              <div class="my-5">
                <h1>Distancia:</h1>
                <div>
                  <h1 class="formule text-center">√({{x2.value}} - {{x1.value}})<sup>2</sup> + ({{y2.value}} -
                    {{y1.value}})<sup>2</sup> = <b>{{distancia | number}}</b></h1>
                </div>
              </div>
              <div class="mt-4">
                <h1>Pendiente:</h1>
                <div class="formule text-center d-flex justify-content-center align-items-center">
                  <h1 class="mx-4">m=</h1>
                  <div>
                    <div class="border-secondary border-bottom border-5">
                      <h1>{{y2.value}} - {{y1.value}}</h1>
                    </div>
                    <span>
                      <h1>{{x2.value}} - {{x1.value}}</h1>
                    </span>
                  </div>
                  <h1 class="mx-4"> = <b>{{pendient | number}}</b></h1>
                </div>
              </div>


            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>